In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Colomn 01")

In [3]:
ser

0    0.690998
1    0.648643
2    0.762248
3    0.536321
4    0.237722
Name: Colomn 01, dtype: float64

In [4]:
ser[2]

0.7622478734418109

In [5]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [7]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1995-01-03,15.625000,15.437500,15.468750,15.593750,3318400.0,6.362394
1995-01-04,15.656250,15.312500,15.531250,15.468750,2218800.0,6.311395
1995-01-05,15.437500,15.218750,15.375000,15.250000,2319600.0,6.222139
1995-01-06,15.406250,15.156250,15.156250,15.281250,3438000.0,6.234891
1995-01-09,15.406250,15.187500,15.343750,15.218750,1795200.0,6.209391
...,...,...,...,...,...,...
2020-01-29,126.070000,125.029999,125.910004,125.059998,5271000.0,125.059998
2020-01-30,126.059998,124.419998,124.790001,125.949997,5894400.0,125.949997
2020-01-31,126.949997,124.459999,125.989998,124.620003,6612900.0,124.620003
2020-02-03,125.949997,124.489998,124.660004,125.110001,6052300.0,125.110001
2020-02-04,127.349998,125.360001,125.709999,125.660004,5919268.0,125.660004

In [9]:
PG = wb.DataReader('PG', data_source='yahoo', start='2020-1-1')

In [10]:
PG

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,122.681129
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,121.856033
2020-01-06,123.190002,122.379997,122.570000,122.750000,6674400.0,122.025024
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,121.269508
2020-01-08,123.430000,122.000000,122.190002,122.510002,5385100.0,121.786446
2020-01-09,123.879997,122.510002,122.510002,123.849998,5944000.0,123.118530
2020-01-10,124.320000,123.300003,123.900002,123.970001,3927100.0,123.237823
2020-01-13,124.900002,123.809998,124.000000,124.879997,8409200.0,124.142441
2020-01-14,125.199997,124.480003,124.650002,124.690002,7829700.0,123.953568
2020-01-15,126.120003,125.010002,125.059998,125.959999,4843700.0,125.216064
2020-01-16,126.779999,125.589996,126.110001,126.070000,6233700.0,125.325417
2020-01-17,127.000000,125.879997,126.349998,126.410004,11315200.0,125.663414
2020-01-21,126.620003,124.839996,126.410004,126.089996,8553100.0,125.345299
2020-01-22,126.680000,125.830002,126.330002,126.309998,7396700.0,125.563995
2020-01-23,126.550003,123.650002,124.300003,124.989998,11096500.0,124.989998
2020-01-24,126.790001,124.769997,125.220001,125.139999,9508600.0,125.139999
2020-01-27,126.389999,124.750000,124.750000,125.690002,9338400.0,125.690002
2020-01-28,126.980003,125.720001,125.930000,126.029999,6200200.0,126.029999
2020-01-29,126.070000,125.029999,125.910004,125.059998,5271000.0,125.059998
2020-01-30,126.059998,124.419998,124.790001,125.949997,5894400.0,125.949997
2020-01-31,126.949997,124.459999,125.989998,124.620003,6612900.0,124.620003
2020-02-03,125.949997,124.489998,124.660004,125.110001,6052300.0,125.110001
2020-02-04,127.349998,125.360001,125.709999,125.660004,5919268.0,125.660004

In [11]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2020-01-02 to 2020-02-04
Data columns (total 6 columns):
High         23 non-null float64
Low          23 non-null float64
Open         23 non-null float64
Close        23 non-null float64
Volume       23 non-null float64
Adj Close    23 non-null float64
dtypes: float64(6)
memory usage: 1.3 KB

In [12]:
PG.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-29,126.070000,125.029999,125.910004,125.059998,5271000.0,125.059998
2020-01-30,126.059998,124.419998,124.790001,125.949997,5894400.0,125.949997
2020-01-31,126.949997,124.459999,125.989998,124.620003,6612900.0,124.620003
2020-02-03,125.949997,124.489998,124.660004,125.110001,6052300.0,125.110001
2020-02-04,127.349998,125.360001,125.709999,125.660004,5919268.0,125.660004

In [13]:
PG.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,124.730003,122.940002,124.500000,123.410004,8130800.0,122.681129
2020-01-03,123.529999,121.860001,122.160004,122.580002,7970500.0,121.856033
2020-01-06,123.190002,122.379997,122.570000,122.750000,6674400.0,122.025024
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,121.269508
2020-01-08,123.430000,122.000000,122.190002,122.510002,5385100.0,121.786446

In [14]:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,121.269508
2020-01-08,123.430000,122.000000,122.190002,122.510002,5385100.0,121.786446
2020-01-09,123.879997,122.510002,122.510002,123.849998,5944000.0,123.118530
2020-01-10,124.320000,123.300003,123.900002,123.970001,3927100.0,123.237823
2020-01-13,124.900002,123.809998,124.000000,124.879997,8409200.0,124.142441
2020-01-14,125.199997,124.480003,124.650002,124.690002,7829700.0,123.953568
2020-01-15,126.120003,125.010002,125.059998,125.959999,4843700.0,125.216064
2020-01-16,126.779999,125.589996,126.110001,126.070000,6233700.0,125.325417
2020-01-17,127.000000,125.879997,126.349998,126.410004,11315200.0,125.663414
2020-01-21,126.620003,124.839996,126.410004,126.089996,8553100.0,125.345299
2020-01-22,126.680000,125.830002,126.330002,126.309998,7396700.0,125.563995
2020-01-23,126.550003,123.650002,124.300003,124.989998,11096500.0,124.989998
2020-01-24,126.790001,124.769997,125.220001,125.139999,9508600.0,125.139999
2020-01-27,126.389999,124.750000,124.750000,125.690002,9338400.0,125.690002
2020-01-28,126.980003,125.720001,125.930000,126.029999,6200200.0,126.029999
2020-01-29,126.070000,125.029999,125.910004,125.059998,5271000.0,125.059998
2020-01-30,126.059998,124.419998,124.790001,125.949997,5894400.0,125.949997
2020-01-31,126.949997,124.459999,125.989998,124.620003,6612900.0,124.620003
2020-02-03,125.949997,124.489998,124.660004,125.110001,6052300.0,125.110001
2020-02-04,127.349998,125.360001,125.709999,125.660004,5919268.0,125.660004

In [15]:
PG.tail(20)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-07,123.209999,121.870003,122.879997,121.989998,7583400.0,121.269508
2020-01-08,123.430000,122.000000,122.190002,122.510002,5385100.0,121.786446
2020-01-09,123.879997,122.510002,122.510002,123.849998,5944000.0,123.118530
2020-01-10,124.320000,123.300003,123.900002,123.970001,3927100.0,123.237823
2020-01-13,124.900002,123.809998,124.000000,124.879997,8409200.0,124.142441
2020-01-14,125.199997,124.480003,124.650002,124.690002,7829700.0,123.953568
2020-01-15,126.120003,125.010002,125.059998,125.959999,4843700.0,125.216064
2020-01-16,126.779999,125.589996,126.110001,126.070000,6233700.0,125.325417
2020-01-17,127.000000,125.879997,126.349998,126.410004,11315200.0,125.663414
2020-01-21,126.620003,124.839996,126.410004,126.089996,8553100.0,125.345299
2020-01-22,126.680000,125.830002,126.330002,126.309998,7396700.0,125.563995
2020-01-23,126.550003,123.650002,124.300003,124.989998,11096500.0,124.989998
2020-01-24,126.790001,124.769997,125.220001,125.139999,9508600.0,125.139999
2020-01-27,126.389999,124.750000,124.750000,125.690002,9338400.0,125.690002
2020-01-28,126.980003,125.720001,125.930000,126.029999,6200200.0,126.029999
2020-01-29,126.070000,125.029999,125.910004,125.059998,5271000.0,125.059998
2020-01-30,126.059998,124.419998,124.790001,125.949997,5894400.0,125.949997
2020-01-31,126.949997,124.459999,125.989998,124.620003,6612900.0,124.620003
2020-02-03,125.949997,124.489998,124.660004,125.110001,6052300.0,125.110001
2020-02-04,127.349998,125.360001,125.709999,125.660004,5919268.0,125.660004

In [19]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
    new_data[t] = wb.DataReader(t, data_source='yahoo', start='1995-1-1')['Adj Close']

In [20]:
new_data.tail()

                    PG        MSFT          T     F     GE
Date
2020-01-29  125.059998  168.039993  37.049999  8.86  12.94
2020-01-30  125.949997  172.779999  37.430000  8.84  12.73
2020-01-31  124.620003  170.229996  37.619999  8.82  12.45
2020-02-03  125.110001  174.380005  36.959999  8.98  12.26
2020-02-04  125.660004  180.119995  37.630001  9.18  12.58